venv
videos
.env
data
grabaciones
.vscode/
resultados_clientes_totales.csv
resultados_deteccion_mostrador.csv
resultados_deteccion_mostrador.xlsx
resultados_deteccion_mostrador_con_ubicaciones.csv
resultados_deteccion_mostrador_con_ubicaciones.xlsx
videos camaras seleccionadas
videos_a_etiquetar
datos-salida
track*
UEM-1-Camara-3
datos-salida
clientes_por_15min.csv
registro_clientes_hora_dia.csv
grabacion_2025-02-21_22-57-32.csv
grabacion_2025-02-20_18-38-12.mp4
grabacion_2025-02-21_20-57-31.mp4
tiempos_permanencia.csv
grabacion_2025-02-24_21-11-19.csv