venv
videos
.env
data
grabaciones
.vscode/
resultados_clientes_totales.csv
resultados_deteccion_mostrador.csv
resultados_deteccion_mostrador.xlsx
resultados_deteccion_mostrador_con_ubicaciones.csv
resultados_deteccion_mostrador_con_ubicaciones.xlsx
videos camaras seleccionadas
videos_a_etiquetar
datos-salida
track*
UEM-1-Camara-3
datos-salida